@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
:root {
  --ff-primary: "Fraunces", serif;
  --fn-primary-w700: 700;
  --ff-secondary: "Montserrat", sans-serif;
  --fn-money-color-font: hsl(158, 36%, 37%);
  --ff-h2-color-font: hsl(212, 21%, 14%);
  --fn-p-color-font: hsl(228, 12%, 48%);
  --fn-p-size: 14px;
  --fn-pw-500: 500;
  --fn-pw-700: 700;
  --bg-main-color: hsl(30, 38%, 92%);
  --bg-perfume: hsl(0, 0%, 100%);
}
* {
  font-family: var(--ff-primary);
  font-family: var(--ff-secondary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  background-color: var(--bg-main-color);
}
.attribution {
  position: absolute;
  left: 42%;
  bottom: 20px;
}

.perfume {
  display: flex;

  height: 450px;
  width: 600px;
  background-color: var(--bg-perfume);
  border-radius: 10px;
}

.perfume img {
  position: static;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.perfume-information {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.perfume-information p {
  font-size: var(--fn-p-size);

  color: var(--fn-p-color-font);
}
.perfume-information .p2 {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 22px;
  text-align: left;
  font-family: var(--ff-secondary);
  font-size: var(--fn-p-size);
  font-weight: var(--fn-pw-700);
  color: var(--fn-p-color-font);
}
.perfume-information h1 {
  text-align: left;
  word-spacing: 5px;
  line-height: 32px;
  font-family: var(--ff-primary);

  font-weight: var(--fn-primary-w700);
  color: var(--ff-h2-color-font);
}
.money .money1 {
  font-size: 37px;
  color: var(--fn-money-color-font);
  font-family: var(--ff-primary);
}
.money {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-direction: row;
}
.money2 {
  text-decoration: line-through;
}
button {
  padding: 15px;
  background-color: #1a4031;
  color: var(--bg-perfume);
  border-radius: 10px;
  border: none;
  margin-right: 5px;
}
